@import url(./estilos/navbar.css);
@import url(./estilos/home.css);
@import url(./estilos/projetos.css);
@import url(./estilos/sobre-mim.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-font: 'Gotham', sans-serif; 
    --40color: #23272a;
    --30color: #2c2f33;
    --20color: #99aab5;
    --10color: #7289da;
}

body {
    background: var(--40color);
    font-family: var(--primary-font);
    color: white;
}
