#projetos {
    background: var(--30color);
    padding: 1.5rem;
}

.titulo-sessao {
    font-size: 40px;
    margin-bottom: 2rem;
}

.container-projetos {
    display: flex;
}

.container-projetos a {
    text-decoration: none;
}

.cardprojeto {
    background: var(--10color);
    padding: 0.75rem;
    border-radius: 15px;
    text-align: center;
}

.cardprojeto img {
    width: 300px;
}

.cardprojeto-infos {
}

.cardprojeto-infos-titulo {
    font-size: 30px;
    color: var(--40color);
    margin: 0.5rem;
}

.cardprojeto-infos-texto {
    font-size: 20px;
    color: var(--40color);
    margin-bottom: 0.5rem;
}

@media screen and (min-width: 1024px) {

    .cardprojeto {
        display: flex;
    }

    .cardprojeto img {
        width: 180px;
    }

    .cardprojeto:hover .cardprojeto-infos{
        display: block;
    }

    .cardprojeto-infos {
        display: none;
        /* transition: all 2s ease-in 2s; */
    }
    
}